[defaults]
inventory = inventory/preprod/hosts.ini
roles_path = roles:../roles:k8s-homelab/roles
host_key_checking = False
stdout_callback = default
bin_ansible_callbacks = True
timeout = 30
deprecation_warnings = False

[callback_default]
result_format = yaml

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null
