# Align with ansible-lint defaults so `yamllint` and `ansible-lint`
# agree (see https://ansible.readthedocs.io/projects/lint/rules/yaml/).
extends: default

ignore: |
  archived/
  back/
  .git/
  *.sops.yaml
  *.sops.yml

rules:
  comments:
    # prettier / ansible-lint --fix compatibility
    min-spaces-from-content: 1
  comments-indentation: false
  document-start: disable
  line-length:
    max: 160
  braces:
    min-spaces-inside: 0
    max-spaces-inside: 1
  octal-values:
    forbid-implicit-octal: true
    forbid-explicit-octal: true
