# ==============================================================================
# Managed by Ansible - role caddy
# PowerDNS API environment credentials for Let's Encrypt DNS-01 ACME
# ==============================================================================
POWERDNS_SERVER_URL={{ caddy_powerdns_server_url }}
POWERDNS_API_TOKEN={{ caddy_powerdns_api_token }}
