# ==============================================================================
# Managed by Ansible - role caddy
# Systemd unit for Caddy Ingress Reverse Proxy
# ==============================================================================
[Unit]
Description=Caddy Ingress Reverse Proxy
Documentation=https://caddyserver.com/docs/
After=network.target network-online.target
Requires=network-online.target

[Service]
Type=notify
User={{ caddy_user }}
Group={{ caddy_group }}
EnvironmentFile={{ caddy_config_dir }}/caddy.env
ExecStart={{ caddy_bin_path }} run --environ --config {{ caddy_config_dir }}/Caddyfile
ExecReload={{ caddy_bin_path }} reload --config {{ caddy_config_dir }}/Caddyfile --force
TimeoutStopSec=5s
LimitNOFILE=1048576
PrivateTmp=true
ProtectSystem=full
AmbientCapabilities=CAP_NET_ADMIN CAP_NET_BIND_SERVICE
CapabilityBoundingSet=CAP_NET_ADMIN CAP_NET_BIND_SERVICE

[Install]
WantedBy=multi-user.target
