---
apiVersion: v1
kind: Namespace
metadata:
  name: {{ cka_lab_networking_client_namespace | default('cka-lab-net-client') }}
  labels:
    kubernetes.io/metadata.name: {{ cka_lab_networking_client_namespace | default('cka-lab-net-client') }}
    app.kubernetes.io/part-of: cka-lab
    cka.practice/scenario: networking
    tier: client
---
apiVersion: v1
kind: Namespace
metadata:
  name: {{ cka_lab_networking_backend_namespace | default('cka-lab-net-backend') }}
  labels:
    kubernetes.io/metadata.name: {{ cka_lab_networking_backend_namespace | default('cka-lab-net-backend') }}
    app.kubernetes.io/part-of: cka-lab
    cka.practice/scenario: networking
    tier: backend
