apiVersion: v1
kind: Namespace
metadata:
  name: {{ cka_lab_pods_staging_namespace | default('cka-lab-staging') }}
  labels:
    app.kubernetes.io/part-of: cka-lab
    cka.practice/scenario: pods
    environment: staging
