apiVersion: v1
kind: LimitRange
metadata:
  name: cka-lab-limit-range
  namespace: {{ cka_lab_scheduling_capacity_namespace | default('cka-lab-capacity-ns') }}
  labels:
    app.kubernetes.io/name: cka-lab-limit-range
    app.kubernetes.io/part-of: cka-lab
    cka.practice/scenario: scheduling
spec:
  limits:
    - type: Container
      default:
        cpu: 100m
        memory: 128Mi
      defaultRequest:
        cpu: 50m
        memory: 64Mi
      max:
        cpu: 250m
        memory: 256Mi
      min:
        cpu: 10m
        memory: 16Mi
