apiVersion: v1
kind: ResourceQuota
metadata:
  name: cka-lab-compute-quota
  namespace: {{ cka_lab_scheduling_capacity_namespace | default('cka-lab-capacity-ns') }}
  labels:
    app.kubernetes.io/name: cka-lab-compute-quota
    app.kubernetes.io/part-of: cka-lab
    cka.practice/scenario: scheduling
spec:
  hard:
    requests.cpu: "500m"
    requests.memory: 512Mi
    limits.cpu: "1000m"
    limits.memory: 1Gi
    pods: "4"
