apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: cka-lab-sc-retain
  labels:
    app.kubernetes.io/name: cka-lab-sc-retain
    app.kubernetes.io/part-of: cka-lab
    cka.practice/scenario: storage-classes
provisioner: rancher.io/local-path
reclaimPolicy: Retain
volumeBindingMode: Immediate
allowVolumeExpansion: true
