# -----------------------------------------------------------------------------
# Nord skin (Transparent background for crystal-clear SSH rendering)
# -----------------------------------------------------------------------------

# Styles...
foreground: &foreground "#DADEE8"
current_line: &current_line "#383D4A"
selection: &selection "#D9DEE8"
comment: &comment "#8891A7"
cyan: &cyan "#88C0D0"
green: &green "#A3BE8C"
orange: &orange "#D08770"
blue: &blue "#81A1C1"
magenta: &magenta "#B48EAD"
red: &red "#BF616A"
yellow: &yellow "#EBCB8B"

# Skin...
k9s:
  body:
    fgColor: *foreground
    bgColor: default
    logoColor: *magenta
  prompt:
    fgColor: *foreground
    bgColor: default
    suggestColor: *orange
  info:
    fgColor: *blue
    sectionColor: *foreground
  dialog:
    fgColor: *foreground
    bgColor: default
    buttonFgColor: *foreground
    buttonBgColor: *magenta
    buttonFocusFgColor: *yellow
    buttonFocusBgColor: *blue
    labelFgColor: *orange
    fieldFgColor: *foreground
  frame:
    border:
      fgColor: *selection
      focusColor: *current_line
    menu:
      fgColor: *foreground
      keyColor: *blue
      numKeyColor: *blue
    crumbs:
      fgColor: *foreground
      bgColor: default
      activeColor: *current_line
    status:
      newColor: *cyan
      modifyColor: *magenta
      addColor: *green
      errorColor: *red
      highlightColor: *orange
      killColor: *comment
      completedColor: *comment
    title:
      fgColor: *foreground
      bgColor: default
      highlightColor: *orange
      counterColor: *magenta
      filterColor: *blue
  views:
    charts:
      bgColor: default
      defaultDialColors:
        - *magenta
        - *red
      defaultChartColors:
        - *magenta
        - *red
    table:
      fgColor: *foreground
      bgColor: default
      header:
        fgColor: *foreground
        bgColor: default
        sorterColor: *cyan
    xray:
      fgColor: *foreground
      bgColor: default
      cursorColor: *current_line
      graphicColor: *magenta
      showIcons: false
    yaml:
      keyColor: *blue
      colonColor: *magenta
      valueColor: *foreground
    logs:
      fgColor: *foreground
      bgColor: default
      indicator:
        fgColor: *foreground
        bgColor: *magenta
        toggleOnColor: *magenta
        toggleOffColor: *blue
    help:
      fgColor: *foreground
      bgColor: default
      indicator:
        fgColor: *red
